

li a:hover{
  background-color:#beecea;
}

.active{
  color:#fff;
  background-color:#41c7c2 !important;
}

html, body, #app, #app>div {
  height: 100% !important;
}

body {
    background-color: #A7A7A7;
    margin: 0;
  }


  h1 {
    padding-left: 20px;
  }

  h1, h2, p, ul, li {
    font-family: Helvetica, Arial, sans-serif;
  }


  ul {
    list-style: none;
  }


  ul.header li {
    display: inline-block;
    padding: 10px 20px;
    cursor:pointer;
    transition:0.3s;
  }
  ul.header {
    background-color:#eee;
    color:#7B8585;
    padding: 0;
  }
  ul.header li a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color:#eee;
    padding: 20px;
    min-height: 200px;
    height: 69% !important;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
    list-style-type: none;
  }

  .content li a{
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
  }

  .topBar {
    padding: 20px;
    background-color:#000000;
    color: #eee;
  }

  .footer {
    padding: 20px;
    background-color:#000000;
    color: #eee;
  }