html, body, div#app #app>div {
  height: 100%;
}

div#app {
  height: 100%;
}

.content {
  padding: 20px;
  min-height: 200px;
  height: 100%;
  width: 100%;
}

/* Menus */
  .topBar {
    position: relative;
    right: 0;
    top: 0;
    left: 0;
    background-color:#FFFFFF;
    color: #eee;
  }

    .extLinks li {
      display: inline-block;
      align-content: right;
    }

      .extLinks li a {
        padding: 5px;
      }

        .extLinks img {
          align: right;
          height: auto;
          max-width:20px;
          width:auto;
        }

.about {
  background-color: green;
}

.cv {
  background-color: pink;
}

.projects {
  background-color: yellow;
}

.OjNpc {
  height: 100%;
}
.iTMMQv {
  height: 30%;
}